/** @format */

.map {
  @apply w-full flex items-center relative mx-auto;
  font-size: clamp(16px, 2vw, 32px);
  aspect-ratio: 1;
  min-width: 300px;
  max-width: 500px;
}

.figure {
  @apply drop-shadow-md;
}

.container {
  @apply relative z-20 w-full px-[7%];
}

.moonPosition {
  @apply overflow-hidden absolute z-10 left-0 top-1/2 rounded-l rounded-r-sm;
  height: 106%;
  width: 11%;
  transform: translateY(-50%);
  background: theme('colors.purple.600') url('../../../../../assets/moon-position.png') left center no-repeat;
  background-size: cover;
}
.grid {
  @apply w-full relative z-20;
}
