/** @format */

.board {
  @apply relative flex flex-col-reverse gap-y-4 mx-auto rounded-lg p-4 pb-8 shadow-md overflow-hidden;
  width: clamp(300px, 100%, 400px);
  background: url('../../../../../assets/selection-board.png') center bottom no-repeat;
  background-size: cover;
}
.moon {
  @apply rounded-full aspect-square bg-white;
  @apply absolute top-1/2 left-0 w-full;
  box-shadow: 0 0 30px rgba(white, 0.8);
  transform: translate(-65%, -50%);
}

$steps: (
  1: (
    margin: 60%,
  ),
  2: (
    margin: 40%,
  ),
  3: (
    margin: 20%,
  ),
  4: (
    margin: 40%,
  ),
  5: (
    margin: 60%,
  ),
  6: (
    margin: 60%,
  ),
  7: (
    margin: 40%,
  ),
  8: (
    margin: 20%,
  ),
  9: (
    margin: 20%,
  ),
  10: (
    margin: 40%,
  ),
);

.step,
.coin {
  @apply w-20 aspect-square;
}

.step {
  @each $i, $style in $steps {
    &:global(.step_#{$i}) {
      margin-left: map-get($style, margin);
    }
  }
}

@mixin livelloTransform($j) {
  :global(.ready) & {
    transform: translate($j * 4%, $j * -8%);
  }
}

%cugini {
  & + & {
    @include livelloTransform(1);
  }
  & + & + & {
    @include livelloTransform(2);
  }
  & + & + & + & {
    @include livelloTransform(3);
  }
  & + & + & + & + & {
    @include livelloTransform(4);
  }
  & + & + & + & + & + & {
    @include livelloTransform(5);
  }
  & + & + & + & + & + & + & {
    @include livelloTransform(6);
  }
  & + & + & + & + & + & + & + & {
    @include livelloTransform(7);
  }
  & + & + & + & + & + & + & + & + & {
    @include livelloTransform(8);
  }
  & + & + & + & + & + & + & + & + & + & {
    @include livelloTransform(9);
  }
  & + & + & + & + & + & + & + & + & + & + & {
    @include livelloTransform(10);
  }
}

.coin {
  @apply absolute transition-base;
  @extend %cugini;

  opacity: 0;
  &:global(.playerCoin),
  :global(.ready) & {
    opacity: 1;
  }
}
